extends layout

block content
    h3 BSIMM Radar Graphs
    b first D3 example (with live reload)

    script.
        var data = [
              {
                className: 'germany',
                axes: [
                  {axis: "strength", value: 3},
                  {axis: "intelligence", value: 6},
                  {axis: "charisma", value: 5},
                  {axis: "dexterity", value: 9},
                  {axis: "luck", value: 2, xOffset: -20}
                ]
              },
              {
                className: 'argentina',
                axes: [
                  {axis: "strength", value: 6},
                  {axis: "intelligence", value: 7},
                  {axis: "charisma", value: 10},
                  {axis: "dexterity", value: 13},
                  {axis: "luck", value: 9}
                ]
              }
            ];

    div.chart-container
    script.
        RadarChart.draw(".chart-container", data);

