doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")

        title= title


        link(rel="stylesheet", href="/lib/foundation/css/foundation.min.css")
        link(rel="stylesheet", href="/lib/radar-chart-d3/src/radar-chart.min.css")

        script(src='/lib/jquery/dist/jquery.min.js')
        script(src="/lib/foundation/js/foundation.js")
        script(src='/lib/d3/d3.min.js')
        script(src='/lib/radar-chart-d3/src/radar-chart.min.js')

    body
        block content