style.
    .panel.callout {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    td {
        padding: 2px !important;
        text-align: center !important;
    }

    input[type="radio"] {
        vertical-align: middle !important;
        margin :0 !important;
    }

.panel.callout.radius.text-center
    b {{title}}

table.fullWidth
    tr
    thead
        tr
            th ID
            //th Description
            th Yes
            th No
            th NA
            th Maybe

    tbody
        tr.cell(ng-repeat="(key, value) in data")
            td.text-left {{key}}
            //td {{value}}
            td
                input(type="radio" ng-name='key' ng-model="data[key]" value='Yes')
            td
                input(type="radio" ng-name='key' ng-model="data[key]" value='No')
            td
                input(type="radio" ng-name='key' ng-model="data[key]" value='Maybe')
            td
                input(type="radio" ng-name='key' ng-model="data[key]" value='NA')