extends angular-page.pug

block content
    style.
        td.padding {
            padding: 0px !important;
            text-align: center !important;
        }

    div(ng-controller='EditDataController')
        .row.column(ng-cloak)
            h4 BSIMM Raw data fo: {{target}}
            br
        .row.column.fullWidth(ng-cloak)
            .small-1.columns
                span
            .small-11.columns
                pre.
                    {{data_Raw}}
