link(rel="stylesheet", href="/lib/radar-chart-d3/src/radar-chart.min.css")
script(src='/lib/d3/d3.min.js')
script(src='/lib/radar-chart-d3/src/radar-chart.min.js')



//div.callout.large.primary
        //div.row.column.text-center
div(ng-controller='RadarController')
    .row
        div.chart-container
        br
    .row
        .small-1.columns
        .small-10.columns
            .label.warning Standard
            .label.success {{team}}

//script.
//    RadarChart.draw(".chart-container", {{data}}, {{config}});