br
dl.sub-nav(ng-cloak)
    dt
        b
            a(href='/view/teams') {{target}}
    dd
        a(href='/view/{{target}}') view
    dd
        a(href='/view/{{target}}/edit') edit
    dd
        a(href='/view/{{target}}/raw') raw
br