dl.sub-nav
    dt {{target}}
    dd
        a(href='/view/table?team={{target}}') view
    dd
        a(href='/view/data-ui?team={{target}}') edit
    dd
        a(href='/view/raw?team={{target}}') raw