nav.top-bar(data-topbar='', role='navigation')
    ul.title-area
        li.name
            h1
                a(href='/view') BSIMM Graphs
    section.top-bar-section
        ul.left
            li
                a(ng-href='/view/teams' target='_self') Current Teams

            li
                a(ng-href='/view/routes' target='_self') API methods
