nav.top-bar(data-topbar='', role='navigation')
    ul.title-area
        li.name
            h1
                a(href='/') BSIMM Graphs
    section.top-bar-section
        ul.left
            li
                a(ng-href='./teams.html' target='_self') Current Teams

            li
                a(ng-href='./routes.html' target='_self') API methods
            li
                a(ng-href='./radar.html' target='_self') Radar

