div(ng-controller='EditDataController')

    .row
        .row
            h4 BSIMM Raw data for: {{target}}
            br
        .row.fullWidth(ng-cloak)
            pre.
                {{data_Raw}}
