style.
    td.padding {
        padding: 0px !important;
        text-align: center !important;
    }

div(ng-controller='TableController')
    include ../includes/side-bar.pug

    .row.column.fullWidth(ng-cloak)
        .small-6.columns
            include ../includes/radar.pug
        .small-6.columns
            table
                thead
                    tr
                        th(colspan=2 ng-repeat="(key, value) in table.headers") {{value}}
                tbody
                    tr
                        td
                            b Activity
                        td
                            b Status
                        td
                            b Activity
                        td
                            b Status
                        td
                            b Activity
                        td
                            b Status
                        td
                            b Activity
                        td
                            b Status
                    tr(ng-repeat='row in table.rows')
                        span(ng-if='row[0]')
                            td.label.success.round {{row[0]}}
                            td.padding {{row[1].replace('Maybe','N A').replace('NA','Maybe')}}
                        span(ng-if='row[2]')
                            td.label.info.round {{row[2]}}
                            td.padding {{row[3].replace('Maybe','N A').replace('NA','Maybe')}}
                        span(ng-if='row[4]')
                            td.label.warning.round {{row[4]}}
                            td.padding {{row[5].replace('Maybe','N A').replace('NA','Maybe')}}
                        span(ng-if='row[6]')
                            td.label.regular.round {{row[6]}}
                            td.padding {{row[7].replace('Maybe','N A').replace('NA','Maybe')}}
